# .NET Core
project.lock.json
project.fragment.lock.json
*.nuget.props
*.nuget.targets

# Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Coverage results
coverage
coverage/
TestResults/
coveragereport/
*.cobertura.xml
.DS_Store

# Node.js
node_modules/

# Playwright Test Results
test-results/
client/test-results/
client/playwright-report/
client/test-results.json
client/test-results.xml
client/test-output.json
client/test-monitoring-report.json
