# .NET Core
project.lock.json
project.fragment.lock.json
*.nuget.props
*.nuget.targets

# Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/